<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Popmart Demo{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart-simple.css') }}">


    <link rel="stylesheet"
        href="{{ url_for('static', filename='fonts/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css') }}">

</head>

<body>
    <div class="app">
        <div class="header">
            {% include 'includes/_navbar.html' %}
        </div>

        <div class="container">
            {% block content %} {% endblock %}
        </div>

        <div class="footer">
                {% include 'includes/_footer.html' %}
        </div>
    </div>
</body>

</html>